/* maybe consider putting them in a grid?) */
.main {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
}

button {
  height: 100px;
  width: 100%;
  outline: 1px solid white;
  background: #990000;
  color: white;
  font-family: cursive;
  font-size: 32px;
  border: none;
}

.green {
  background: #005900;
}